@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body{
   font-family: "Lato", serif;
   margin: 0 auto;
}

[class*=__container]{
   max-width: 810px;
   margin: 0 auto;
}
.text__container{
   color:  #424551;
   line-height: 26px;
}

.image{
   margin-bottom: 60px;
}

.title{
   font-weight: 900;
   font-size: 46px;
   line-height: 60px;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   margin-bottom: 55px;
   padding-top: 35px;
}
.tittle-two {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
   margin-bottom: 24px;
}
.text-p {
   margin-bottom: 25px;
}
.lorem {
   margin-top: 48px;
   font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   color: #1E212C;
   padding-left: 58px;
   margin-bottom: 48px;
}
.list__container{
   line-height: 26px;
   color: #424551;
}
.amet{
   margin-bottom: 24px;
}
.list{
   margin-bottom: 24px;
}
.class-li{
   padding-left: 32px;
   margin-bottom: 4px;
}

.background__container{
   margin-top: 100px;
   background: rgba(41, 171, 171, 0.585);
   color: yellow;
   padding: 25px;
   font-size: 20px;
   text-align: center;
}

.background-repeat{
   margin-top: 100px;
   min-height: 500px;
   background: rgba(41, 171, 171, 0.585) url("../img/04.jpg");
   color: yellow;
   padding: 25px;
}
.background-no-repeat{
   margin-top: 100px;
   min-height: 500px;
   background: rgba(41, 171, 171, 0.585) url("../img/04.jpg") no-repeat;
   color: yellow;
   padding: 25px;
}

.background-repeat-y {
   margin-top: 100px;
   min-height: 500px;
   background: rgba(41, 171, 171, 0.585) url("../img/04.jpg") 0 0/100px 100px repeat-y;
   color: yellow;
   padding: 25px;
}
.background-repeat-x {
   margin-top: 100px;
   min-height: 500px;
   background: rgba(41, 171, 171, 0.585) url("../img/04.jpg") 0 0/100px 100px repeat-x;
   color: yellow;
   padding: 25px;
}
.background-space {
   margin-top: 100px;
   min-height: 500px;
   background: rgba(41, 171, 171, 0.585) url("../img/04.jpg") 0 0/100px 100px space;
   color: yellow;
   padding: 25px;
}
.background-round {
   margin-top: 100px;
   min-height: 500px;
   background: rgba(41, 171, 171, 0.585) url("../img/04.jpg") 0 0/100px 100px round;
   color: yellow;
   padding: 25px;
}
.background-fixed {
   margin-top: 100px;
   min-height: 500px;
   background: rgba(41, 171, 171, 0.585) url("../img/02.jpg")  50% no-repeat fixed;
   color: yellow;
   padding: 25px;
}
.background-local__container {
   margin-top: 100px;
   max-height: 300px;
   background: rgba(41, 171, 171, 0.585) url("../img/07.jpg") no-repeat local;
   color: yellow;
   overflow: auto;
   padding: 25px;
}
.background-size-widht {
   margin-top: 100px;
   min-height: 500px;
   background: rgba(41, 171, 171, 0.585) url("../img/07.jpg") 0 0/100% auto no-repeat;
   color: yellow;
   padding: 25px;
}
.background-size-height {
   margin-top: 100px;
   min-height: 500px;
   background: rgba(41, 171, 171, 0.585) url("../img/07.jpg") 0 0/auto 100% no-repeat;
   color: yellow;
   padding: 25px;
}
.background-size-ras {
   margin-top: 100px;
   min-height: 500px;
   background: rgba(41, 171, 171, 0.585) url("../img/07.jpg") 0 0/100% 100% no-repeat;
   color: yellow;
   padding: 25px;
}
.background-size-contain {
   margin-top: 100px;
   min-height: 500px;
   background: rgba(41, 171, 171, 0.585) url("../img/07.jpg") 0 0/contain no-repeat;
   color: yellow;
   padding: 25px;
}
.background-size-cover {
   margin-top: 100px;
   min-height: 700px;
   background: rgba(41, 171, 171, 0.585) url("../img/07.jpg") 0 0/cover no-repeat;
   color: yellow;
   padding: 25px;
}
.background-mix {
   margin-top: 100px;
   min-height: 500px;
   background:url("../img/04.jpg") 0 0/100px 100px no-repeat,
   url("../img/03.jpg") center/100px 100px no-repeat,
    url("../img/02.jpg") bottom right/100px 100px no-repeat,
     url("../img/05.jpg") right top/200px 200px no-repeat, url("../img/06.jpg") bottom left/200px 200px no-repeat,rgba(41, 171, 171, 0.585);
   color: yellow;
   padding: 25px;
}

.footer-up {
   margin-top: 50px;
   background:rgba(92, 79, 30, 0.692);
   min-height: 80px;
   text-align: center;
   padding: 50px;
}
.id {
   color: #fff;
   font-size: 30px;
}
